@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-size: 13px;
    }

    p {
        /* color: #CFCFCF;  */
    }

    h2 {
        color: 
    }
}

@layer components {
    .title {
        /* @apply text-[] */
    }

    .description {
        @apply 
    }
}